@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);

@theme {
  --color-primary-900: #5eb5f8;
  --color-primary-800: #cae8ff;
  --color-primary-700: #edf6fd;

  --color-secondary-900: #1f2732;
  --color-secondary-800: #858585;
  --color-secondary-500: #f6f6f6;
  --color-secondary-550: #efefef;
  --color-secondary-400: #404040;
  --color-secondary-300: #fafafa;
  --color-secondary-200: #f4f4f4;
  --color-secondary-150: #f0f0f0;
  --color-secondary-100: #f7f7f7;

  --color-danger-900: #ca2626;
  --color-danger-300: #ffd5d5;
  --color-succes: #71a775;

  --color-white-20: rgba(255, 255, 255, 0.2);
}

body {
  background-color: var(--color-primary-600);
  color: var(--color-secondary-900);
  font-family: var(--vazir-font);
  font-weight: 300;
  font-size: 14px;
}

input:focus {
  @apply outline-none;
}

@layer base {
  h1 {
    font-size: 1.75rem; /* 28px */
    font-weight: 700;
  }

  h2 {
    font-size: 1.5rem; /* 24px */
    font-weight: 700;
  }

  h3 {
    font-size: 1.25rem; /* 20px */
    font-weight: 700;
  }

  h4 {
    font-size: 1.125rem; /* 18px */
    font-weight: 600;
  }

  h5 {
    font-size: 1rem; /* 16px */
    font-weight: 600;
  }

  h6 {
    font-size: 0.875rem; /* 14px */
    font-weight: 500;
  }

  .body-lg {
    font-size: 1rem;
    font-weight: 400;
  }
  .body {
    font-size: 0.875rem;
    font-weight: 300;
  }
  .body-sm {
    font-size: 0.75rem;
    font-weight: 300;
  }
  .caption {
    font-size: 0.625rem;
    font-weight: 300;
  }
  form {
    width: 100%;
  }
  .__datepicker-clear-btn {
    display: none !important;
  }
  select {
    @apply flex rounded-2xl py-2;
  }
  option {
    @apply flex rounded-md p-2;
  }
  option::picker(select) {
    @apply border-none;
  }

  .remove-scrollbar{
    overflow: hidden;
  }
  .loader {
    width: 17px;
    height: 17px;
    background: radial-gradient(circle closest-side, #000 90%, #0000) 0 /
      calc(100% / 3) 100% space;
    clip-path: inset(0 100% 0 0);
    animation: l1 1s steps(4) infinite;
  }
  @keyframes l1 {
    to {
      clip-path: inset(0 -34% 0 0);
    }
  }

  .hideScroollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hideScroollbar::-webkit-scrollbar {
    display: none;
  }

  /* INPPUT NUMBER */
  .vi__container {
    direction: ltr;
    @apply !grid !grid-cols-6 !w-full  !gap-x-3;
  }
  .vi__character {
    @apply col-span-1 border !border-[#F3F3F3] rounded-md !text-[16px];
  }
  .vi__character--inactive {
    @apply !bg-[#FAFAFA];
  }

  /* Dropzone */

  .dropzone-area {
    padding: 1rem;
    position: relative;
    margin-top: 1rem;
    min-height: 16rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px dashed #e8e8e8;
    border-radius: 1rem;
    color: var(--primary);
    cursor: pointer;
  }

  .dropzone-area [type="file"] {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .dropzone-area .file-upload-icon svg {
    height: 5rem;
    width: 5rem;
    margin-bottom: 0.5rem;
    stroke: var(--primary);
  }
}

@layer components {
  .dot-loader {
    width: 60px;
    aspect-ratio: 4;
    --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
    background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
    background-size: calc(100% / 3) 100%;
    animation: l7 1s infinite linear;
  }

  .padding {
    @apply px-6 lg:px-10;
  }
}

@layer utilities {
  .flex-center-center {
    @apply flex items-center justify-center;
  }
  .flex-center-beetwen {
    @apply flex items-center justify-between;
  }
  .flex-start-center {
    @apply flex items-center;
  }
  .flex-left-center {
    @apply flex  items-center justify-end;
  }
  .flex-center-between {
    @apply flex items-center justify-between;
  }
  .flex-col-start-bettwon {
    @apply flex flex-col justify-between;
  }
  .flex-col-center-center {
    @apply flex flex-col justify-center items-center;
  }
}
